
@{
    Layout = null;
}
@model Project.NET.MVC.Models.Album


<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>All Albums</title>

    <link href="https://getbootstrap.com/docs/4.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/4.1/examples/album/album.css" rel="stylesheet">
</head>

<body>
    <main role="main">

        <section class="jumbotron text-center">
            <div class="container">
                <h1 class="jumbotron-heading">Welcome @ViewBag.currentUser</h1>
                <p class="lead text-muted">All Albums list</p>
            </div>
            <br />


            <div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header text-center">
                            <h4 class="modal-title w-100 font-weight-bold">Album Details</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form asp-action="AlbumList" method="post" name="insert">
                            <div class="modal-body mx-3">
                                <div class="md-form mb-2">
                                    <label data-error="wrong" data-success="right" for="defaultForm-email">Album Name</label>
                                    <input asp-for="ID" value="0" type="hidden">
                                    <input asp-for="Name" class="form-control" placeholder="Enter Album Name" required>
                                </div>
                                <div class="md-form mb-2">
                                    <label data-error="wrong" data-success="right" for="defaultForm-email">Author</label>
                                    <input asp-for="Author" class="form-control" placeholder="Enter Author" required>
                                </div>
                                <div class="md-form mb-2">
                                    <label data-error="wrong" data-success="right" for="defaultForm-email">Year</label>
                                    <input asp-for="Year" class="form-control" id="inputPassword" placeholder="Enter Year" required>
                                </div>

                                <button type="submit" class="btn btn-default">Add</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>




            <div class="text-center">
                <a href="" class="btn btn-primary btn-rounded" data-toggle="modal" data-target="#modalLoginForm">Add New Album</a>
            </div>

        </section>


        <div class="album py-5 bg-light">
            <div class="container">
                <div class="row">


                    @foreach (var album in ViewBag.albums)
                    {
                        <div class="col-md-4">
                            <div class="card mb-4 shadow-sm">
                                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
                                <div class="card-body">
                                    <p class="card-text">@album.Name - @album.Author</p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">

                                            <form action="@Url.Action("Detail", new { id=album.ID })">
                                                <button type="submit" class="btn btn-sm btn-outline-secondary">View</button>
                                            </form>


                                            <button type="button" class="btn btn-sm btn-outline-secondary" data-toggle="modal" data-target="#modelUpdateForm-@album.ID">Edit</button>

                                            <div class="modal fade" id="modelUpdateForm-@album.ID" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                                                 aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header text-center">
                                                            <h4 class="modal-title w-100 font-weight-bold">Update Album Details</h4>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <form asp-action="AlbumListUpdate" method="post" name="update">
                                                            <div class="modal-body mx-3">
                                                                <div class="md-form mb-2">
                                                                    <label data-error="wrong" data-success="right" for="">Album Name</label>
                                                                    <input asp-for="ID" type="hidden" value="@album.ID" />
                                                                    <input asp-for="Name" value="@album.Name" class="form-control validate" placeholder="Enter Album Name" id="name" required>
                                                                </div>
                                                                <div class="md-form mb-2">
                                                                    <label data-error="wrong" data-success="right" for="">Author</label>
                                                                    <input asp-for="Author" value="@album.Author" class="form-control validate" placeholder="Enter Author" required>
                                                                </div>
                                                                <div class="md-form mb-2">
                                                                    <label data-error="wrong" data-success="right" for="">Year</label>
                                                                    <input asp-for="Year" value="@album.Year" class="form-control validate" id="inputPassword" placeholder="Enter Year" required>
                                                                </div>

                                                                <button type="submit" class="btn btn-default">Update</button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>



                                            <form asp-action="AlbumList" method="post" name="delete">
                                                <input asp-for="ID" type="hidden" value="@album.ID">
                                                <input asp-for="Name" type="hidden" value="@album.Name">
                                                <input asp-for="Author" type="hidden" value="@album.Author">
                                                <input asp-for="Year" type="hidden" value="@album.Year">
                                                <button type="submit" formmethod="post" class="btn btn-sm btn-outline-secondary">Delete</button>
                                            </form>


                                        </div>
                                        <small class="text-muted">@album.Year</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>
    </main>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="https://getbootstrap.com/docs/4.1/assets/js/vendor/popper.min.js"></script>
    <script src="https://getbootstrap.com/docs/4.1/dist/js/bootstrap.min.js"></script>
    <script src="https://getbootstrap.com/docs/4.1/assets/js/vendor/holder.min.js"></script>
</body>
</html>
